.cover-artEWR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Alleluia.jpg");
    background-size: cover;
}
.cover-artBMC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AllHailKingJesus.jpg");
    background-size: cover;
}

.cover-artAI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AllIn.jpg");
    background-size: cover;
}

.cover-artATY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AllToYou.jpg");
    background-size: cover;
}

.cover-artATH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AThousandHallelujahs.jpg");
    background-size: cover;
}

.cover-artAMAZING{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AMAZING!.jpg");
    background-size: cover;
}

.cover-artFAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AmazingGrace.jpg");
    background-size: cover;
}

.cover-artATA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AtTheAltar.jpg");
    background-size: cover;
}

.cover-artATFOTC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AtTheFootOfTheCross.jpg");
    background-size: cover;
}

.cover-artHAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AwesomeGod.jpg");
    background-size: cover;
}

.cover-artBG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/BlessGod.jpg");
    background-size: cover;
}

.cover-artTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TheBlood.jpg");
    background-size: cover;
}

.cover-artBEC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/BreakEveryChain.jpg");
    background-size: cover;
}

.cover-artBML{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/BuildMyLife.jpg");
    background-size: cover;
}

.cover-artCenter{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Center.jpg");
    background-size: cover;
}

.cover-artDemons{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Demons.jpg");
    background-size: cover;
}

.cover-artDIL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/DrenchedinLove.jpg");
    background-size: cover;
}

.cover-artFH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FATHER'SHOUSE.jpg");
    background-size: cover;
}

.cover-artFIMB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FireInMyBones.jpg");
    background-size: cover;
}

.cover-artFF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FirmFoundation.jpg");
    background-size: cover;
}

.cover-artFG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ForGood.jpg");
    background-size: cover;
}

.cover-artFREE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FREE!.jpg");
    background-size: cover;
}

.cover-artFreedom{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Freedom.jpg");
    background-size: cover;
}

.cover-artFW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FreshWind.jpg");
    background-size: cover;
}

.cover-artGMJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GiveMeJesus.jpg");
    background-size: cover;
}

.cover-artGDP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GloriousDay.jpg");
    background-size: cover;
}

.cover-artGIJG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GodI'mJustGrateful.jpg");
    background-size: cover;
}

.cover-artGOR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GodOfRevival.jpg");
    background-size: cover;
}

.cover-artGRYMG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GodRestYeMerryGentlemen.jpg");
    background-size: cover;
}

.cover-artGSL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GodSoLoved.jpg");
    background-size: cover;
}

.cover-artGY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GOODBYEYESTERDAY.jpg");
    background-size: cover;
}

.cover-artGDFF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GOODDAY.jpg");
    background-size: cover;
}

.cover-artGGF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GoodGoodFather.jpg");
    background-size: cover;
}

.cover-artGOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GoodnessofGod.jpg");
    background-size: cover;
}

.cover-artGratitude{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Gratitude.jpg");
    background-size: cover;
}

.cover-artGAYL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GreatAreYouLord.jpg");
    background-size: cover;
}

.cover-artGI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GreatIs.jpg");
    background-size: cover;
}

.cover-artHH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HandsHigh.jpg");
    background-size: cover;
}

.cover-artHFH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HardFoughtHallelujah.jpg");
    background-size: cover;
}

.cover-artHOW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HeartOfWorship.jpg");
    background-size: cover;
}

.cover-artHIATW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HereIAmToWorship.jpg");
    background-size: cover;
}

.cover-artHN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Here&Now.jpg");
    background-size: cover;
}

.cover-artHTTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HeTapuTeAriki.jpg");
    background-size: cover;
}

.cover-artHF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HolyForever.jpg");
    background-size: cover;
}

.cover-artHP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HolyPlace.jpg");
    background-size: cover;
}

.cover-artHS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HolySpirit.jpg");
    background-size: cover;
}

.cover-artHosanna{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Hosanna.jpg");
    background-size: cover;
}

.cover-artHOM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HouseOfMiracles.jpg");
    background-size: cover;
}

.cover-artHGIOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HowGreatIsOurGod.jpg");
    background-size: cover;
}

.cover-artHGTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/HowGreatThouArt.jpg");
    background-size: cover;
}

.cover-artIGYMH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/IGiveYouMyHeart.jpg");
    background-size: cover;
}

.cover-artILYL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ILoveYouLord.jpg");
    background-size: cover;
}

.cover-artICA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/InChristAlone.jpg");
    background-size: cover;
}

.cover-artIHW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/IsHeWorthy.jpg");
    background-size: cover;
}

.cover-artISJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ISpeakJesus.jpg");
    background-size: cover;
}

.cover-artIS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ISurrender.jpg");
    background-size: cover;
}

.cover-artITG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/IThankGod.jpg");
    background-size: cover;
}

.cover-artIWEY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/IWillExaltYou.jpg");
    background-size: cover;
}

.cover-artJATC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/JesusAtTheCenter.jpg");
    background-size: cover;
}

.cover-artJBTN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/JesusBeTheName.jpg");
    background-size: cover;
}

.cover-artJWLY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/JesusWeLoveYou.jpg");
    background-size: cover;
}

.cover-artTJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TheJoy.jpg");
    background-size: cover;
}

.cover-artKOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/KingofGlory.jpg");
    background-size: cover;
}

.cover-artKOK{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/KingOfKings.jpg");
    background-size: cover;
}

.cover-artLemonade{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/LEMONADE.jpg");
    background-size: cover;
}

.cover-artMMNPW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/MakeMeNew-NewPathWorship.jpg");
    background-size: cover;
}

.cover-artMMNIM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/MakeMeNew-InfluenceMusic.jpg");
    background-size: cover;
}

.cover-artMR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/MakeRoom.jpg");
    background-size: cover;
}

.cover-artMNOJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/MightyNameOfJesus.jpg");
    background-size: cover;
}

.cover-artMRL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/MyRedeemerLives.jpg");
    background-size: cover;
}

.cover-artNGUTT{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NEVERGETUSEDTOTHIS.jpg");
    background-size: cover;
}

.cover-artNLYG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NeverLetYouGo.jpg");
    background-size: cover;
}

.cover-artNW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NewWine.jpg");
    background-size: cover;
}

.cover-artNLS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NoLongerSlaves.jpg");
    background-size: cover;
}

.cover-artNBTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NothingButTheBlood.jpg");
    background-size: cover;
}

.cover-artNE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NothingElse.jpg");
    background-size: cover;
}

.cover-artOCTTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/OComeToTheAltar.jpg");
    background-size: cover;
}

.cover-artOW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/OneWay.jpg");
    background-size: cover;
}

.cover-artOIJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/OnlyInJesus.jpg");
    background-size: cover;
}

.cover-artOOGAI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/On&On.jpg");
    background-size: cover;
}

.cover-artOpen{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Open.jpg");
    background-size: cover;
}

.cover-artOOEW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Over&Over.jpg");
    background-size: cover;
}

.cover-artPraise{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Praise.jpg");
    background-size: cover;
}

.cover-artProdigals{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Prodigals.jpg");
    background-size: cover;
}

.cover-artRAH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/RaiseAHallelujah.jpg");
    background-size: cover;
}

.cover-artRL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/RecklessLove.jpg");
    background-size: cover;
}

.cover-artROU{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/RestOnUs.jpg");
    background-size: cover;
}

.cover-artSAF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/SetAFire.jpg");
    background-size: cover;
}

.cover-artSTTL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ShoutToTheLord.jpg");
    background-size: cover;
}

.cover-artSOM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/StateOfMind.jpg");
    background-size: cover;
}

.cover-artSurrounded{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Surrounded.jpg");
    background-size: cover;
}

.cover-artTYAYW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TakeYouAtYourWord.jpg");
    background-size: cover;
}

.cover-artTGIF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/THANKGODI'MFREE.jpg");
    background-size: cover;
}

.cover-artTYJFTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ThankYouJesusForTheBlood.jpg");
    background-size: cover;
}

.cover-artTWIP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/That'sWhoIPraise.jpg");
    background-size: cover;
}

.cover-artTIAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ThisIsAmazingGrace.jpg");
    background-size: cover;
}

.cover-artTIOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/ThisIsOurGod.jpg");
    background-size: cover;
}

.cover-artTIG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TrustInGod.jpg");
    background-size: cover;
}

.cover-artTS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TrustSong.jpg");
    background-size: cover;
}

.cover-artTruth{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TRUTH.jpg");
    background-size: cover;
}

.cover-artTuhia{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Tuhia.jpg");
    background-size: cover;
}

.cover-artWashed{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Washed.jpg");
    background-size: cover;
}

.cover-artWaves{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Waves.jpg");
    background-size: cover;
}

.cover-artWM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/WayMaker.jpg");
    background-size: cover;
}

.cover-artWABN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/WhatABeautifulName.jpg");
    background-size: cover;
}

.cover-artWAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/WhatAGod.jpg");
    background-size: cover;
}

.cover-artWAAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/WhatAnAwesomeGod.jpg");
    background-size: cover;
}

.cover-artWE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/WhoElse.jpg");
    background-size: cover;
}

.cover-artWorthy{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Worthy.jpg");
    background-size: cover;
}

.cover-artWOIA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/WorthyOfItAll.jpg");
    background-size: cover;
}

.cover-artYAGIH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/YouAreGood-IsraelHoughton.jpg");
    background-size: cover;
}

.cover-artYAGBM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/YouAreGood-BethelMusic.jpg");
    background-size: cover;
}

.cover-artYW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/YourWay.jpg");
    background-size: cover;
}

.cover-artYWB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/YourWay'sBetter.jpg");
    background-size: cover;
}