.cover-artEWR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Alleluia.jpg");
    background-size: cover;
}
.cover-artBMC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/All Hail King Jesus.jpg");
    background-size: cover;
}

.cover-artAI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/All In.jpg");
    background-size: cover;
}

.cover-artATY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/All To You.jpg");
    background-size: cover;
}

.cover-artATH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/A Thousand Hallelujahs.jpg");
    background-size: cover;
}

.cover-artAMAZING{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/AMAZING!.jpg");
    background-size: cover;
}

.cover-artFAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Amazing Grace.jpg");
    background-size: cover;
}

.cover-artATA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/At The Altar.jpg");
    background-size: cover;
}

.cover-artATFOTC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/At The Foot Of The Cross.jpg");
    background-size: cover;
}

.cover-artHAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Awesome God.jpg");
    background-size: cover;
}

.cover-artBG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Bless God.jpg");
    background-size: cover;
}

.cover-artTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/The Blood.jpg");
    background-size: cover;
}

.cover-artBEC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Break Every Chain.jpg");
    background-size: cover;
}

.cover-artBML{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Build My Life.jpg");
    background-size: cover;
}

.cover-artCenter{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Center.jpg");
    background-size: cover;
}

.cover-artDemons{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Demons.jpg");
    background-size: cover;
}

.cover-artDIL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Drenched in Love.jpg");
    background-size: cover;
}

.cover-artFH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FATHER'S HOUSE.jpg");
    background-size: cover;
}

.cover-artFIMB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Fire In My Bones.jpg");
    background-size: cover;
}

.cover-artFF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Firm Foundation.jpg");
    background-size: cover;
}

.cover-artFG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/For Good.jpg");
    background-size: cover;
}

.cover-artFREE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/FREE!.jpg");
    background-size: cover;
}

.cover-artFreedom{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Freedom.jpg");
    background-size: cover;
}

.cover-artFW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Fresh Wind.jpg");
    background-size: cover;
}

.cover-artGMJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Give Me Jesus.jpg");
    background-size: cover;
}

.cover-artGDP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Glorious Day.jpg");
    background-size: cover;
}

.cover-artGIJG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/God I'm Just Grateful.jpg");
    background-size: cover;
}

.cover-artGOR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/God Of Revival.jpg");
    background-size: cover;
}

.cover-artGRYMG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/God Rest Ye Merry Gentlemen.jpg");
    background-size: cover;
}

.cover-artGSL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/God So Loved.jpg");
    background-size: cover;
}

.cover-artGY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GOODBYE YESTERDAY.jpg");
    background-size: cover;
}

.cover-artGDFF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/GOOD DAY.jpg");
    background-size: cover;
}

.cover-artGGF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Good Good Father.jpg");
    background-size: cover;
}

.cover-artGOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Goodness of God.jpg");
    background-size: cover;
}

.cover-artGratitude{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Gratitude.jpg");
    background-size: cover;
}

.cover-artGAYL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Great Are You Lord.jpg");
    background-size: cover;
}

.cover-artGI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Great Is.jpg");
    background-size: cover;
}

.cover-artHH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Hands High.jpg");
    background-size: cover;
}

.cover-artHFH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Hard Fought Hallelujah.jpg");
    background-size: cover;
}

.cover-artHOW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Heart Of Worship.jpg");
    background-size: cover;
}

.cover-artHIATW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Here I Am To Worship.jpg");
    background-size: cover;
}

.cover-artHN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Here & Now.jpg");
    background-size: cover;
}

.cover-artHTTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/He Tapu Te Ariki.jpg");
    background-size: cover;
}

.cover-artHF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Holy Forever.jpg");
    background-size: cover;
}

.cover-artHP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Holy Place.jpg");
    background-size: cover;
}

.cover-artHS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Holy Spirit.jpg");
    background-size: cover;
}

.cover-artHosanna{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Hosanna.jpg");
    background-size: cover;
}

.cover-artHOM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/House Of Miracles.jpg");
    background-size: cover;
}

.cover-artHGIOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/How Great Is Our God.jpg");
    background-size: cover;
}

.cover-artHGTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/How Great Thou Art.jpg");
    background-size: cover;
}

.cover-artIGYMH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/I Give You My Heart.jpg");
    background-size: cover;
}

.cover-artILYL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/I Love You Lord.jpg");
    background-size: cover;
}

.cover-artICA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/In Christ Alone.jpg");
    background-size: cover;
}

.cover-artIHW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Is He Worthy.jpg");
    background-size: cover;
}

.cover-artISJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/I Speak Jesus.jpg");
    background-size: cover;
}

.cover-artIS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/I Surrender.jpg");
    background-size: cover;
}

.cover-artITG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/I Thank God.jpg");
    background-size: cover;
}

.cover-artIWEY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/I Will Exalt You.jpg");
    background-size: cover;
}

.cover-artJATC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Jesus At The Center.jpg");
    background-size: cover;
}

.cover-artJBTN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Jesus Be The Name.jpg");
    background-size: cover;
}

.cover-artJWLY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Jesus We Love You.jpg");
    background-size: cover;
}

.cover-artTJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/The Joy.jpg");
    background-size: cover;
}

.cover-artKOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/King of Glory.jpg");
    background-size: cover;
}

.cover-artKOK{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/King Of Kings.jpg");
    background-size: cover;
}

.cover-artLemonade{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/LEMONADE.jpg");
    background-size: cover;
}

.cover-artMMNPW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Make Me New - New Path Worship.jpg");
    background-size: cover;
}

.cover-artMMNIM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Make Me New - Influence Music.jpg");
    background-size: cover;
}

.cover-artMR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Make Room.jpg");
    background-size: cover;
}

.cover-artMNOJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Mighty Name Of Jesus.jpg");
    background-size: cover;
}

.cover-artMRL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/My Redeemer Lives.jpg");
    background-size: cover;
}

.cover-artNGUTT{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/NEVER GET USED TO THIS.jpg");
    background-size: cover;
}

.cover-artNLYG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Never Let You Go.jpg");
    background-size: cover;
}

.cover-artNW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/New Wine.jpg");
    background-size: cover;
}

.cover-artNLS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/No Longer Slaves.jpg");
    background-size: cover;
}

.cover-artNBTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Nothing But The Blood.jpg");
    background-size: cover;
}

.cover-artNE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Nothing Else.jpg");
    background-size: cover;
}

.cover-artOCTTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/O Come To The Altar.jpg");
    background-size: cover;
}

.cover-artOW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/One Way.jpg");
    background-size: cover;
}

.cover-artOIJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Only In Jesus.jpg");
    background-size: cover;
}

.cover-artOOGAI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/On & On.jpg");
    background-size: cover;
}

.cover-artOpen{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Open.jpg");
    background-size: cover;
}

.cover-artOOEW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Over & Over.jpg");
    background-size: cover;
}

.cover-artPraise{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Praise.jpg");
    background-size: cover;
}

.cover-artProdigals{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Prodigals.jpg");
    background-size: cover;
}

.cover-artRAH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Raise A Hallelujah.jpg");
    background-size: cover;
}

.cover-artRL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Reckless Love.jpg");
    background-size: cover;
}

.cover-artROU{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Rest On Us.jpg");
    background-size: cover;
}

.cover-artSAF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Set A Fire.jpg");
    background-size: cover;
}

.cover-artSTTL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Shout To The Lord.jpg");
    background-size: cover;
}

.cover-artSOM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/State Of Mind.jpg");
    background-size: cover;
}

.cover-artSurrounded{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Surrounded.jpg");
    background-size: cover;
}

.cover-artTYAYW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Take You At Your Word.jpg");
    background-size: cover;
}

.cover-artTGIF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/THANK GOD I'M FREE.jpg");
    background-size: cover;
}

.cover-artTYJFTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Thank You Jesus For The Blood.jpg");
    background-size: cover;
}

.cover-artTWIP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/That's Who I Praise.jpg");
    background-size: cover;
}

.cover-artTIAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/This Is Amazing Grace.jpg");
    background-size: cover;
}

.cover-artTIOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/This Is Our God.jpg");
    background-size: cover;
}

.cover-artTIG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Trust In God.jpg");
    background-size: cover;
}

.cover-artTS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Trust Song.jpg");
    background-size: cover;
}

.cover-artTruth{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/TRUTH.jpg");
    background-size: cover;
}

.cover-artTuhia{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Tuhia.jpg");
    background-size: cover;
}

.cover-artWashed{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Washed.jpg");
    background-size: cover;
}

.cover-artWaves{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Waves.jpg");
    background-size: cover;
}

.cover-artWM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Way Maker.jpg");
    background-size: cover;
}

.cover-artWABN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/What A Beautiful Name.jpg");
    background-size: cover;
}

.cover-artWAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/What A God.jpg");
    background-size: cover;
}

.cover-artWAAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/What An Awesome God.jpg");
    background-size: cover;
}

.cover-artWE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Who Else.jpg");
    background-size: cover;
}

.cover-artWorthy{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Worthy.jpg");
    background-size: cover;
}

.cover-artWOIA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Worthy Of It All.jpg");
    background-size: cover;
}

.cover-artYAGIH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/You Are Good - Israel Houghton.jpg");
    background-size: cover;
}

.cover-artYAGBM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/You Are Good - Bethel Music.jpg");
    background-size: cover;
}

.cover-artYW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Your Way.jpg");
    background-size: cover;
}

.cover-artYWB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url("assets/cover-art/Your Way's Better.jpg");
    background-size: cover;
}