.cover-artEWR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipRed.jpg);
    background-size: cover;
}
.cover-artBMC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCity.jpg);
    background-size: cover;
}

.cover-artAI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/AlabasterWorshipCoverArtAllIn.jpg);
    background-size: cover;
}

.cover-artATY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/EastgateCoverArtRegular.jpg);
    background-size: cover;
}

.cover-artATH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrookeLigertwoodCoverArt1000.jpg);
    background-size: cover;
}

.cover-artAMAZING{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtAMAZING.jpg);
    background-size: cover;
}

.cover-artFAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ForrestFrankCoverArtAG.jpg);
    background-size: cover;
}

.cover-artATA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtATA.jpg);
    background-size: cover;
}

.cover-artATFOTC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/SouvenirsWorshipCoverArtATFOTC.jpg);
    background-size: cover;
}

.cover-artHAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongUnitedCoverArtAG.jpg);
    background-size: cover;
}

.cover-artBG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrookeLigertwoodCoverArtBG.jpg);
    background-size: cover;
}

.cover-artTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtBLOOD.jpg);
    background-size: cover;
}

.cover-artBEC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/JesusCultureCoverArtBEC.jpg);
    background-size: cover;
}

.cover-artBML{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PatBarrettCoverArtBML.jpg);
    background-size: cover;
}

.cover-artCenter{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtCenter.jpg);
    background-size: cover;
}

.cover-artDIL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtVICTORY.jpg);
    background-size: cover;
}

.cover-artFH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtFH.png);
    background-size: cover;
}

.cover-artFIMB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/TiffanyHudsonCoverArtFINB.png);
    background-size: cover;
}

.cover-artFF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CodyCarnesCoverArtFF.jpg);
    background-size: cover;
}

.cover-artFG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/SouvenirsWorshipCoverArtFG.jpg);
    background-size: cover;
}

.cover-artFREE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/SEUWorshipCoverArtFREE.jpg);
    background-size: cover;
}

.cover-artFreedom{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/JesusCultureCoverArtFreedom.jpg);
    background-size: cover;
}

.cover-artFW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtFW.jpg);
    background-size: cover;
}

.cover-artGMJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/UPPERROOMCoverArtGMJ.jpg);
    background-size: cover;
}

.cover-artGD{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PassionCoverArtGD.jpg);
    background-size: cover;
}

.cover-artGIJG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipRed.jpg);
    background-size: cover;
}

.cover-artGOR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtGOR.jpg);
    background-size: cover;
}

.cover-artGRYMG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PentatonixCoverArtGRYMG.jpg);
    background-size: cover;
}

.cover-artGSL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/WeTheKingdomCoverArtGSL.jpg);
    background-size: cover;
}

.cover-artGY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtGY.jpg);
    background-size: cover;
}

.cover-artGD{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ForrestFrankCoverArtGD.jpg);
    background-size: cover;
}

.cover-artGGF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HousefiresCoverArtGGF.jpg);
    background-size: cover;
}

.cover-artGOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtVICTORY.jpg);
    background-size: cover;
}

.cover-artGratitude{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrandonLakeCoverArtGraditude.jpg);
    background-size: cover;
}

.cover-artGAYL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/AllSons&DaughtersCoverArtGAYL.jpg);
    background-size: cover;
}

.cover-artGI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/EastgateCoverArtRegular.jpg);
    background-size: cover;
}

.cover-artHH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/EquippersRevolutionCoverArtHH.jpg);
    background-size: cover;
}

.cover-artHFH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrandonLakeCoverArtHFH.jpg);
    background-size: cover;
}

.cover-artHOW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/MattRedmanCoverArtTHOW.jpg);
    background-size: cover;
}

.cover-artHIATW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtHIATW.jpg);
    background-size: cover;
}

.cover-artHN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/SouvenirsWorshipCoverArtH&N.jpg);
    background-size: cover;
}

.cover-artHTTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BlueprintChurchCoverArtHTTA.jpg);
    background-size: cover;
}

.cover-artHF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ChrisTomlinCoverArtHF.jpg);
    background-size: cover;
}

.cover-artHP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/AbundantWorshipCoverArtHP.jpg);
    background-size: cover;
}

.cover-artHS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/JesusCultureCoverArtHS.jpg);
    background-size: cover;
}

.cover-artHosanna{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtHosanna.jpg);
    background-size: cover;
}

.cover-artHOM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrandonLakeCoverArtHOM.jpg);
    background-size: cover;
}

.cover-artHGIOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ChrisTomlinCoverArtHGIOG.jpg);
    background-size: cover;
}

.cover-artHGTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/Shane&ShaneCoverArtHGTA.jpg);
    background-size: cover;
}

.cover-artIGYMH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtIGYMH.jpg);
    background-size: cover;
}

.cover-artILYL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipCoverArtILYL.jpg);
    background-size: cover;
}

.cover-artICA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PassionCoverArtICA.jpg);
    background-size: cover;
}

.cover-artIHW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ChrisTomlinCoverArtIHW.jpg);
    background-size: cover;
}

.cover-artISJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CharityGayleCoverArtISJ.jpg);
    background-size: cover;
}

.cover-artIS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtIS.jpg);
    background-size: cover;
}

.cover-artITG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/MaverickCityMusicCoverArtITG.jpg);
    background-size: cover;
}

.cover-artIWEY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrookeLigertwoodCoverArtIWEY.jpg);
    background-size: cover;
}

.cover-artJATC{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/IsraelHoughtonCoverArtJATC.jpg);
    background-size: cover;
}

.cover-artJBTN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipCoverArtJBTN.jpg);
    background-size: cover;
}

.cover-artJWLY{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/MBLWorshipCoverArtJWLY.jpg);
    background-size: cover;
}

.cover-artTJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/TheBelongingCoCoverArtTJ.jpg);
    background-size: cover;
}

.cover-artKOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PassionCoverArtKOG.jpg);
    background-size: cover;
}

.cover-artKOK{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipBrookeLigertwoodCoverArtKOK.jpg);
    background-size: cover;
}

.cover-artLemonade{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ForrestFrankCoverArtLEMONADE.jpg);
    background-size: cover;
}

.cover-artMMNPW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/NewPathWorshipCoverArtMMN.jpg);
    background-size: cover;
}

.cover-artMMNIM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/InfluenceMusicCoverArtMMN.png);
    background-size: cover;
}

.cover-artMR{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/TheChurchWillSingCoverArtMR.jpg);
    background-size: cover;
}

.cover-artMNOJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/TheBelongingCoCoverArtMNOJ.jpeg);
    background-size: cover;
}

.cover-artMRL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtMRL.jpg);
    background-size: cover;
}

.cover-artNGUTT{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ForrestFrankCoverArtNGUTT.jpg);
    background-size: cover;
}

.cover-artNLYG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/EquippersRevolutionCoverArtNLYG.jpg);
    background-size: cover;
}

.cover-artNW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtNW.jpg);
    background-size: cover;
}

.cover-artNLS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtNLS.jpg);
    background-size: cover;
}

.cover-artNBTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CharityGayleCoverArtNBTB.jpg);
    background-size: cover;
}

.cover-artNE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CodyCarnesCoverArtNE.jpg);
    background-size: cover;
}

.cover-artOCTTA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipCoverArtOCTTA.jpg);
    background-size: cover;
}

.cover-artOW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtOW.jpg);
    background-size: cover;
}

.cover-artOIJ{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/EastgateWorshipCoverArtOIJ.jpg);
    background-size: cover;
}

.cover-artOOGAI{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/GatewayALLINCoverArtOO.jpg);
    background-size: cover;
}

.cover-artOpen{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/LOWorshipCoverArtOpen.png);
    background-size: cover;
}

.cover-artOOEW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtOO.jpg);
    background-size: cover;
}

.cover-artPraise{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipCoverArtPraise.jpg);
    background-size: cover;
}

.cover-artProdigals{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/NorthPointWorshipCoverArtProdigals.jpg);
    background-size: cover;
}

.cover-artRAH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicCoverArtRAH.jpg);
    background-size: cover;
}

.cover-artRL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CoryAsburyCoverArtRL.jpg);
    background-size: cover;
}

.cover-artROU{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/MaverickCityMusicCoverArtROU.jpg);
    background-size: cover;
}

.cover-artSAF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/JesusCultureCoverArtSAF.jpg);
    background-size: cover;
}

.cover-artSTTL{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/GatewayWorshipCoverArtSTTL.jpg);
    background-size: cover;
}

.cover-artSOM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/EquippersRevolutionCoverArtSOM.jpg);
    background-size: cover;
}

.cover-artSurrounded{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/UPPERROOMCoverArtSurrounded.jpg);
    background-size: cover;
}

.cover-artTYAYW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CodyCarnesCoverArtTYAYW.jpg);
    background-size: cover;
}

.cover-artTGIF{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtTGIF.jpg);
    background-size: cover;
}

.cover-artTYJFTB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CharityGayleCoverArtTYJFTB.jpg);
    background-size: cover;
}

.cover-artTWIP{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BrandonLakeCoverArtTWIP.jpg);
    background-size: cover;
}

.cover-artTIAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PhilWickhamCoverArtTIAG.jpg);
    background-size: cover;
}

.cover-artTIOG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PhilWickhamCoverArtTIOG.jpg);
    background-size: cover;
}

.cover-artTIG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipCoverArtTIG.jpg);
    background-size: cover;
}

.cover-artTS{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/JeremyKeysCoverArtTS.jpg);
    background-size: cover;
}

.cover-artTruth{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/AlabasterCoverArtTruth.jpg);
    background-size: cover;
}

.cover-artTuhia{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/TeRautiniCoverArtTuhia.jpg);
    background-size: cover;
}

.cover-artWashed{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationRhythmCoverArtWashed.jpg);
    background-size: cover;
}

.cover-artWM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/LeelandCoverArtWM.jpg);
    background-size: cover;
}

.cover-artWABN{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/HillsongWorshipCoverArtWABN.jpg);
    background-size: cover;
}

.cover-artWAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/SEUWorshipCoverArtWAG.jpeg);
    background-size: cover;
}

.cover-artWAAG{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/PhilWickhamCoverArtWAAG.jpg);
    background-size: cover;
}

.cover-artWE{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/GatewayWorshipCoverArtWE.jpg);
    background-size: cover;
}

.cover-artWorthy{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ElevationWorshipCoverArtWorthy.jpg);
    background-size: cover;
}

.cover-artWOIA{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/CeCeWinansCoverArtWOIA.jpg);
    background-size: cover;
}

.cover-artYAGIH{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/IsraelHoughtonCoverArtYAG.jpg);
    background-size: cover;
}

.cover-artYAGBM{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/BethelMusicYAG.jpg);
    background-size: cover;
}

.cover-artYW{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/AlabasterWorshipCoverArtYW.jpg);
    background-size: cover;
}

.cover-artYWB{
    height: clamp(25px, 3vw, 35px);
    width: clamp(25px, 3vw, 35px);
    border: 1px solid rgba(255, 255, 255, 0.483);
    border-radius: clamp(5px, 1vw, 10px);

    background-image: url(assets/cover-art/ForrestFrankCoverArtYWB.jpg);
    background-size: cover;
}