html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #001327;
    color: #FFC300;
    margin: 0;
    padding: 0;
}

/* Nav Stuff */

nav{
    display: flex;
    position: sticky;
    align-items: center;
    height: 60px;
    min-width: 10vw; 
    margin-top: clamp(15px, 5.25vw, 60px);
    margin-left: clamp(30px, 8vw, 100px);
    margin-right: clamp(30px, 8vw, 100px);

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: clamp(40px, 1vw, 80px);

    z-index: 10;

    user-select: none;
}


.left-wing{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: clamp(15px, 2.5vw, 30px);
}

.right-wing{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: clamp(15px, 2.5vw, 30px);
    margin-right: 11px;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(40px, 5vw, 60px);
    height: clamp(40px, 5vw, 60px);
    margin-right: -10px;
    margin-left: -17px;

}
.logo img{
    height: clamp(40px, 5vw, 60px);
}

nav h2{
    color: #ffdb66;
    font-family: "DM Serif Display", serif;
    font-size: clamp(25px, 3vw, 30px);
    font-weight: 800;
}


nav .buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    font-family: "DM Serif Display", serif;
    font-size:  clamp(15px, 2vw, 20px);
    font-weight: 800;
    gap: clamp(15px, 3vw, 25px);
}

a.nav-button{
    text-decoration: none;
    color: #FFC300;
    position: relative;
    flex-wrap: nowrap;
    white-space: nowrap;
    transition: color 0.5s ease;
}

button.nav-button-base{
    text-decoration: none;
    color: #ff9900;
    position: relative;
    transition: color 0.5s ease;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0px;

    color: inherit;
    font: inherit;
    cursor: pointer;
    background: none;
    border: none;
}

a.nav-button-base{
    text-decoration: none;
    color: #ff9900;
    position: relative;
    transition: color 0.5s ease;
    flex-wrap: nowrap;
    white-space: nowrap;

}

a.nav-button::after, a.nav-button-base::after, button.nav-button-base::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;

    width: 0;
    height: 2px;
    background-color: currentColor;
    color: currentColor;

    transition: width 0.3s ease;
}

a.nav-button-base::after, button.nav-button-base::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -px;

    width: 100%;
    height: 2px;
    background-color: currentColor;

    transition: width 0.3s ease;
}

a.nav-button-base:hover::after, button.nav-button-base:hover::after{
    width: 0%;
}

a.nav-button:hover, a.nav-button-base:hover, button.nav-button-base:hover{
    color: hsl(46, 100%, 82%);
}

a.github-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: -10px;

    background-color: none;
    border: 1px solid white;
    border-radius: 8px;
    width: clamp(25px, 4vw, 40px);
    height: clamp(25px, 4vw, 40px);

    transition: background-color 0.5s ease;
}

.github-logo img{
    height: clamp(20px, 4vw, 35px);
    object-fit: contain;
}

a.github-logo:hover{
    background-color: white;
}

/* Nav Stuff */ 

.alignment{
    display: flex;
    position: fixed;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    z-index: 1;

}

.game-space{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;

    position: fixed;
    inset: 0;

    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms ease, transform 200ms ease;
}

.game-space.hidden{
    opacity: 0;
    transform: translateY(20vw);
    pointer-events: none;
}

.game-space .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: clamp(300px, 50vw, 540px);

}

.game-space .box h2{
    color: #ffdb66; 
    font-family: "DM Serif Display", serif;
    font-size: clamp(70px, 9vw, 120px);
    font-weight: 800;
    margin-top: -20px;
    margin-bottom: -20px;

    opacity: 0;
    transform: translateX(20vw);
    animation: fade-in-up 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.game-space .box p{
    font-family: "DM Serif Display", serif;
    font-size: clamp(15px, 2vw, 30px);
    font-weight: 500;
    line-height: clamp(25px, 3vw, 40px);
    margin-top: 0px;
    margin-bottom: 0px;

    opacity: 0;
    transform: translateX(-20vw);
    animation: fade-in-up 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.startbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: clamp(10px, 2vw, 30px);
    margin-top: clamp(10px, 1.0vw, 25px);

    font-family: "DM Serif Display", serif;
    font-size: clamp(18px, 2vw, 28px);
    font-weight: 600;
}

.startbutton button{
    position: relative;
    display: inline-block;

    padding: 8px 10px 5px 10px;
    border: 3px solid #ffb22d86;
    border-radius: 10px;

    transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease, border-radius 0.5s ease;
    user-select: none;

    color: inherit;
    font: inherit;
    cursor: pointer;
    background: none;
}

.running-game{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;

    position: fixed;    
    inset: 0;

    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms ease, transform 200ms ease;

    flex-direction: column;
    gap: 20px
}

.running-game.hidden{
    opacity: 0;
    transform: translateY(20vw);
    pointer-events: none;
}

.running-game .soundbutton{
    position: relative;
    display: inline-block;

    padding: 11px 28px 5px 31px;
    border: 2px solid #c69033;
    border-radius: 15px;

    transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease, border-radius 0.5s ease;
    user-select: none;

    color: inherit;
    font: inherit;
    cursor: pointer;
    background: none;

    font-size: 30px;
}

.running-game .soundbutton:hover{
    background-color: #003369;
}


.running-game .search-bar{
    box-sizing: border-box;

    background-image: url(assets/logos/searchiconyellow.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: 8px;
    background-position-y: center;
    background-color: #001327;

    font-size: 20px;
    padding: 5px 5px 5px 35px;
    border: none;
    border: 1px solid #FFC300;
    border-radius: 5px;

    width: 350px;

    color: #ffdb66;
}

.running-game .search-bar:focus{
    outline: none;
    border-radius: 5px 5px 0px 0px;
}

.running-game .controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.running-game .submitButton{
    position: relative;
    display: inline-block;

    border: 1px solid #FFC300;
    border-radius: 5px;
    padding: 6px 6px 4px 6px;
    

    transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease, border-radius 0.5s ease;
    user-select: none;

    color: inherit;
    font: inherit;
    cursor: pointer;
    background: none;
    outline: none;
    font-weight: 700;

    font-size: 20px;
}

.running-game .submitButton:hover{
    background-color: #003369;
}

.running-game .search-bar:focus ~ .dropdownmenu{
    display: flex;
    flex-direction: column;
    position: absolute;

    width: 350px;

    max-height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.soundsearch:focus-within .dropdownmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    outline: none;

    width: 350px;

    height: fit-content;
    max-height: 38vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdownmenu button{
    color: inherit;
    font: inherit;
    cursor: pointer;
    background: none;

    font-size: 20px;
    padding: 6px 0px 2px 20px;
    text-align: left;
    font-weight: 700;
    border: none;
}

.dropdownmenu{
    display: none;
    background-color: #001327;
    max-height: 400px;
    box-sizing: border-box;
    border: 1px solid #FFC300;

    overflow-y: auto;

}

.dropdownmenu button:hover{
    background-color: #003369;
    border: 0.5px solid #2e85ff;
}

.dropdownmenu button:focus{
    background-color: #003369;
    outline: 0.5px solid #2e85ff;
}

.progress-bar{
    width: 436.233px;
    height: 20px;

    border-radius: 3px;
    border: 0.5px solid #ffdb66
}

.progression{
    height: 20px;
    width: 0%;
    background-color: #FFC300;
}

.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: auto;

    position: fixed;
    inset: 0;

    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms ease, transform 200ms ease;
}

.main-title.hidden{
    opacity: 0;
    transform: translateY(-20vw);
    pointer-events: none;
}

.main-title .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: clamp(300px, 40vw, 540px);
}

.main-title .box h2{
    color: #ffdb66; 
    font-family: "DM Serif Display", serif;
    font-size: clamp(70px, 9vw, 120px);
    font-weight: 800;
    margin-top: -10px;
    margin-bottom: -10px;

    opacity: 1;
}

.main-title.pageload .box h2{
    transform: translateX(20vw);
    animation: fade-in-up 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
    
.main-title .box p{
    font-family: "DM Serif Display", serif;
    font-size: clamp(20px, 2.5vw, 35px);
    font-weight: 500;
    line-height: clamp(25px, 3vw, 40px);
    margin-top: 0px;
    margin-bottom: 0px;

    opacity: 1;
}

.main-title.pageload .box p{
    transform: translateX(-20vw);
    animation: fade-in-up 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.game-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: clamp(10px, 2vw, 30px);
    margin-top: clamp(15px, 1.5vw, 30px);

    font-family: "DM Serif Display", serif;
    font-size: clamp(18px, 2vw, 28px);
    font-weight: 600;
}

.game-buttons button{
    position: relative;
    display: inline-block;

    padding: 8px 10px 5px 10px;
    border: 3px solid #ffb22d86;
    border-radius: 10px;

    color: inherit;
    font: inherit;
    cursor: pointer;
    background: none;

    transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease, border-radius 0.5s ease;
    user-select: none;
}

.main-title .game-info{
    position: relative;
    width: 540px;

}

.game-info p{
    font-family: "DM Serif Display", serif;
    font-size: clamp(15px, 2vw, 22px);
    font-weight: 600;

    text-align: center;
    visibility: hidden;
    margin-top: 20px;
    position: absolute;
    width: 100%;

    opacity: 0;
    transform: translateY(-2vw);
    transition: transform 0.5s ease, opacity 0.5s ease;

}

.game-button1, .popout-info1{
    color: #ffae00;
}

.game-button2, .popout-info2{
    color: #ff9900;
}

.game-button3, .popout-info3{
    color: #ff8300;

}

.game-button1-wrapper{
    opacity: 0;
    transform: translateY(5vw);
    animation: fade-in-up 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 200ms;
}

.game-button2-wrapper{
    opacity: 0;
    transform: translateY(5vw);
    animation: fade-in-up 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 250ms;
}

.game-button3-wrapper{
    opacity: 0;
    transform: translateY(5vw);
    animation: fade-in-up 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 300ms;
}

button.game-button1:hover,button.game-button2:hover,button.game-button3:hover,.startbutton button:hover{
    border: 3px solid #ffffff86;
    border-radius: 15px;
    background-color: #003369;
    transform: translateY(1vw);
}



button.game-button1:hover,.startbutton.one:hover{
    color: #52b7ff;
}

button.game-button2:hover,.startbutton.two:hover{
    color: #2e85ff;
}

button.game-button3:hover,.startbutton.three:hover{
    color: #1d4be1;
}

.game-buttons:has(.game-button1:hover) ~ .game-info .popout-info1{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.game-buttons:has(.game-button2:hover) ~ .game-info .popout-info2{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.game-buttons:has(.game-button3:hover) ~ .game-info .popout-info3{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.song-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-information h2{
    color: #ffdb66; 
    font-family: "DM Serif Display", serif;
    font-size: clamp(40px, 9vw, 70px);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;

    opacity: 0;
    transform: translateY(-10vw);
    animation: fade-in-up 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.song-information ul{
    display: grid;
    container-type: inline-size;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    padding-left: 0;
    column-gap: 20px;
    row-gap: clamp(10px, 2vw, 20px);
}

.song-information ul li{
    display: flex;
    flex-direction: row;
    color: #FFC300; 
    font-family: "DM Serif Display", serif;
    font-size: clamp(10px, 1.7cqw, 20px);
    white-space: nowrap;
    list-style: none;

    justify-content: center;
    align-items: center;
    gap: clamp(5px, 1cqw, 15px);
    justify-self: left;

    opacity: 0;
    transform: translateY(-75%);
    animation: fade-in-up 50ms ease-out forwards;
    
    @for $i from 1 through 112{
        &:nth-of-type(#{$i}) {
            animation-delay: calc(sin(45deg) * #{$i}ms * 25)
        }
    }
}

.redirects{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: clamp(5px, 1vw, 10px);
    align-items: center;
    justify-content: center;
}

.Spotify-logo{
    height: clamp(35px, 5vw, 40px);
    width: clamp(35px, 5vw, 40px);

    background-image: url(assets/logos/Spotify-logo.png);
    background-position: center;
    background-size: clamp(40px, 4vw, 48px);

    border-radius: 25px;
    transition: transform 0.3s ease;
}

.Youtube-logo{
    height: clamp(35px, 5vw, 45px);
    width: clamp(50px, 5vw, 60px);

    background-image: url(assets/logos/Youtube-logo.png);
    background-position: center;
    background-size: clamp(50px, 5vw, 60px);

    border-radius: 8.5px;
    transition: transform 0.3s ease;
}

.Spotify-logo:hover{
    transform:scale(1.1);
}

.Youtube-logo:hover{
    transform:scale(1.1);
}

@keyframes fade-in-up {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media (prefers-reduced-motion: reduce){
    .main-title .box h2, .main-title .box p, .game-buttons, .song-information ul li{
        animation: none;
        transform: none;
        opacity: 1;
    }
}

@media (max-width:1000px){
    .song-information ul{
        grid-template-columns: 1fr;
    }
    .song-information ul li{
        font-size: clamp(15px, 3vw, 35px);
    }
}