html{
    scroll-behavior: smooth;
}

body{
    background-color: #000B17;
    color: #FFC300;
    margin: 0;
    padding: 0;
}

/* Nav Stuff */

nav{
    background-color: #001833;
    height: 60px;
    position: sticky;
    justify-content: center;

    border-bottom: 1px solid white;
    border-radius: 5px;
}

.Nav-Bar{
    align-items: center;
    display: flex;
}

.Nav-Buttons{
    position: absolute;
    right: 50px;
    align-items: center;
    display: flex;
    font-family: "DM Serif Display", serif;
    font-size: 20px;
    font-weight: 400;
    gap: 30px;
}

a.nav-button{
    text-decoration: none;
    color: #FFC300;
}

a.nav-button:hover{
    color: hsl(46, 100%, 82%);
}

a.nav-button-base{
    text-decoration: underline;
    color: #FFC300;
    text-decoration-thickness: 3px;
    text-underline-offset: 18px;

}

a.nav-button-base:hover{
    color: hsl(46, 100%, 82%);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.logo img{
    height: 60px;
}


/* Nav Stuff */ 