html{
    scroll-behavior: smooth;
}

body{
    background-color: #000B17;
    color: #FFC300;
    margin: 0;
    padding: 0;
}

/* Nav Stuff */

nav{
    background-color: #001833;
    height: 60px;
    position: sticky;
    justify-content: center;

    border-bottom: 1px solid white;
    border-radius: 5px;
}

.Nav-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    gap: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.logo img{
    height: 60px;
}

.Nav-Bar .left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav-Bar .left h2{
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}


.Nav-Buttons{
    align-items: center;
    display: flex;
    white-space: nowrap;
    font-family: "DM Serif Display", serif;
    font-size: 20px;
    font-weight: 400;
    gap: 30px;
}

a.nav-button{
    text-decoration: none;
    color: #FFC300;
}

a.nav-button:hover{
    color: hsl(46, 100%, 82%);
}

a.nav-button-base{
    text-decoration: underline;
    color: #FFC300;
    text-decoration-thickness: 3px;
    text-underline-offset: 18px;

}

a.nav-button-base:hover{
    color: hsl(46, 100%, 82%);
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 540px;
    padding: 0px 15px 15px 15px;
    margin-top: 40px;

}

.main-title .box h2{
    font-family: "DM Serif Display", serif;
    font-size: 120px;
    font-weight: 800;
    margin-top: -10px;
    margin-bottom: -10px;
}

.main-title .box p{
    font-family: "DM Serif Display", serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Nav Stuff */ 